<form novalidate [formGroup]="form">
  <div class="row">
    <div class="col-md-2">
      <input
        type="text"
        formControlName="ruas_p"
        class="form-control"
        placeholder="Ruas"
      />
    </div>
    <div class="col-md-2">
      <input
        type="text"
        formControlName="segment_p"
        class="form-control"
        placeholder="Segment"
      />
    </div>
    <div class="col-md-2">
      <input
        type="text"
        formControlName="nama_p"
        class="form-control"
        placeholder="Nama"
      />
    </div>
    <div class="col-md-2 col-sm-6">
      <select
        ngDefaultControl
        class="form-control form-control-lg"
        formControlName="pavement_p"
      >
        <option value=""> Pavement</option>
        <option [ngValue]="pavement_p" *ngFor="let pavement_p of pavement_ps"
          >{{pavement_p}}</option
        >
      </select>
    </div>
    <div class="col-md-2">
      <input
        type="text"
        formControlName="pcifrom"
        class="form-control"
        placeholder="pci from"
      />
    </div>
    <div class="col-md-2">
      <input
        type="text"
        formControlName="pcito"
        class="form-control"
        placeholder="pci to"
      />
    </div>
    <div class="col-md-12 col-sm-12">
      <button class="btn btn-primary float-right" (click)="search(form.value)">
        Search
      </button>
    </div>
  </div>
</form>
