<table class="table table-responsive">
  <tr>
    <th>NO PROV</th>
    <th>RUAS</th>
    <th>SEGMENT</th>
    <th>NAMA</th>
    <th>LEBAR</th>
    <th>PAVEMENT</th>
    <th>PCI</th>
    <th>KONDISI</th>
  </tr>
  <tbody>
    <tr *ngFor="let user of filteredPCIs | filter: searchByKeyword: 'nama_p'">
      <td>{{ user.no_p}}</td>
      <td>{{ user.ruas_p}}</td>
      <td>{{ user.segment_p}}</td>
      <td>{{ user.nama_p}}</td>
      <td>{{ user.lebar_p}}</td>
      <td>{{ user.pavement_p}}</td>
      <td>{{ user.pci_p}}</td>
      <td>{{ user.kondisi_p}}</td>
    </tr>
  </tbody>
</table>
