<div class="container">
  <app-search (groupFilters)="filters = $event"></app-search>

  <br />

  <app-user-list
    [groupFilters]="filters"
    [searchByKeyword]="searchText"
  ></app-user-list>
</div>
